<h3 class="page-title">
    Lista de categorias <small>Visualisar categorias</small>
</h3>
<ul class="nav nav-tabs">
    <li style="bottom: 2px">
        <form class="form-horizontal form-row-seperated" action="@Url.Action("Form","Categoria") " method="post">
            <button class="btn default green" type="submit">Criar categoria</button>
        </form>
    </li>

    <li style="left:10px; bottom: 2px">
        <form class="form-horizontal form-row-seperated" action="@Url.Action("Logs","Home")" method="post">
            <button class="btn default grey" type="submit">Registros</button>
        </form>
    </li>
</ul>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descricao</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var familia in ViewBag.Familias)
        {
        <tr id="@familia.Id">
            <th>@familia.Id</th>
            <th>@familia.Nome</th>
            <th>@familia.Descricao</th>
            <th>
                <button class="btn default red-flamingo" onclick="Deletar(@familia.Id, 'Categoria')" type="submit">Deletar</button>
            </th>
            <th>
                <form action="@Url.Action("Editar", "Categoria", new { familia.Id })">
                    <button class="btn default green-jungle" type="submit">Editar</button>
                </form>
            </th>
        </tr>
        }

    </tbody>

</table>
