
<h3 class="page-title">
    Editar produtos <small>Editar produto: @ViewBag.Produtos.Nome</small>
</h3>

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal form-row-seperated form-validacao-produto" action="@Url.Action("Edita","Produto",new { ViewBag.Produtos.Id })" method="post">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>Produto
                    </div>
                    <div class="actions btn-set">
                        <button class="btn default"><i class="fa fa-reply"></i> Resetar</button>
                        <button class="btn green"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Nome: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control form-nome" value="@ViewBag.Produtos.Nome" name="produto.Nome" placeholder="">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Valor: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input value="@ViewBag.Produtos.PrecoPorUnidade" class="form-control dinheiro form-valor" name="produto.PrecoPorUnidade">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Quantidade: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control form-quantidade" value="@ViewBag.Produtos.Quantidade" name="produto.Quantidade">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Descrição:
                                        </label>
                                        <div class="col-md-10">
                                            <textarea style="resize:vertical" class="form-control" name="produto.Complemento">@ViewBag.Produtos.Complemento</textarea>
                                            <span class="help-block">
                                                Mostrado na lista de produtos
                                            </span>
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Categorias:

                                            <span class="required"> * </span>

                                        </label>
                                        <div class="col-md-10">
                                            <div class="form-control height-auto">

                                                <select class="form-control" name="produto.FamiliaProdutoId">
                                                    @foreach (var familia in ViewBag.Familias)
                                                    {

                                                        if (@ViewBag.Produtos.FamiliaProdutoId == familia.Id)
                                                        {
                                                            <option value="@familia.Id" selected>
                                                                @familia.Nome
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@familia.Id">@familia.Nome</option>
                                                        }

                                                    }
                                                </select>

                                                <span class="help-block">
                                                    @Html.ValidationMessage("produto.FamiliaProdutoId")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>