
<div>
    <div class="col-sm-pull-12">
        @*<form class="form-horizontal form-row-seperated" action="@Url.Action("Adiciona","Produto")" method="post">*@
            <div class="page-portlet-fullscreen">
                <div class="portlet-title">
                    <div class="actions btn-set">
                        <button class="btn default"><i class="fa fa-reply"></i> Resetar</button>
                        <button id="registrar-produto" class="btn green"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Nome: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="produto.Nome" placeholder="">
                                            @Html.ValidationMessage("produto.Nome")
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Valor: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="produto.PrecoPorUnidade">
                                            @Html.ValidationMessage("produto.PrecoPorUnidade")
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Quantidade: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="produto.Quantidade">
                                            @Html.ValidationMessage("produto.Quantidade")
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Descrição:
                                        </label>
                                        <div class="col-md-3">
                                            <textarea style="resize:vertical" class="form-control" name="produto.Complemento"></textarea>
                                            <span class="help-block">
                                                Mostrado na lista de produtos
                                            </span>
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Categorias:

                                            <span class="required"> * </span>

                                        </label>
                                        <div class="col-md-3">
                                            <div class="form-control height-auto">

                                                <select class="form-control" name="produto.FamiliaProdutoId">
                                                    @foreach (var familia in ViewBag.Familias)
                                                    {

                                                        <option value="@familia.Id">
                                                            @familia.Nome
                                                        </option>

                                                    }
                                                </select>

                                                <span class="help-block">
                                                    @Html.ValidationMessage("produto.FamiliaProdutoId")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        @*</form>*@
    </div>
</div>