<h3 class="page-title">
    Lista de produtos <small>Visualisar produtos</small>
</h3>
<ul class="nav nav-tabs"></ul>

<table class= "table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco Unitario</th>
            <th>Quantidade</th>
            <th>Complemento</th>
            <th>Familia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in ViewBag.Produtos)
        {
        <tr>
            <th>@produto.Id</th>
            <th>@produto.Nome</th>
            <th>R$ @produto.PrecoPorUnidade</th>
            <th>@produto.Quantidade</th>
            <th>@produto.Complemento</th>
            <th>@produto.FamiliaProdutoId</th>
        </tr>
        }

    </tbody>

</table>
