@{ ProjetoFinal.DAO.FamiliaProdutoDAO dao = new ProjetoFinal.DAO.FamiliaProdutoDAO();
    ViewBag.Tipos = dao.Lista(); 
}

<h3 class="page-title">
    Lista de produtos <small>Visualisar produtos</small>
</h3>
<ul class="nav nav-tabs">
    <li style="bottom: 2px">
        <form class="form-horizontal form-row-seperated" action="@Url.Action("Form","Produto")" method="post">
            <button type="submit" class="btn default green">Registrar produto</button>
        </form>
    </li>
    <li class="float-right navbar-right">
        <select id="tipo-filtro-produto" class="form-control">
            <option value="nome" selected>Nome</option>
            <option value="familia">Familia</option>
        </select>
    </li>
    <li class="float-right navbar-right">
        <input id="filtrar-produtos" class="form-control float-right" placeholder="Filtrar por " />
    </li>
</ul>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco Unitario</th>
            <th>Quantidade</th>
            <th>Complemento</th>
            <th>Familia</th>
            <th colspan="2">Ações</th>


        </tr>
    </thead>
    <tbody id="produtosLinhas">
        @foreach (var produto in ViewBag.Produtos)
        {
        <tr class="produto" id="@produto.Id">
            <th>@produto.Id</th>
            <th class="prod-nome ">@produto.Nome</th>
            <th>R$ <span  class="dinheiro">@produto.PrecoPorUnidade</span></th>
            <th>@produto.Quantidade</th>
            <th>@produto.Complemento</th>
            @foreach (var tipos in ViewBag.Tipos)
            {
                if (tipos.Id == produto.FamiliaProdutoId)
                {
                    <th class="prod-familia">@tipos.Nome</th>
                }
            }
            
            <th>
                <button class="btn default red-flamingo" onclick="Deletar(@produto.Id, 'Produto')" type="submit">Deletar</button>
            </th>
            <th>
                <form action="@Url.Action("Editar", "Produto", new { produto.Id })">
                    <button class="btn default green-jungle" type="submit">Editar</button>
                </form>
            </th>
        </tr>
        }

    </tbody>
</table>



<!-- Modal -->
<div id="novoProdutoModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Produto</h4>
            </div>
            <div class="modal-body">
                <iframe src="@Url.Action("Form", "Produto")" width="100%" height="700" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="adicionarProdutoTabela();" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>