
<h3 class="page-title">
    Lista de produtos <small>Visualisar produtos</small>
</h3>
<ul class="nav nav-tabs">
    <li style="bottom: 2px">        
        <button data-toggle="modal" class="btn default green" type="submit" onclick="RegistrarProduto" data-target="#myModal">Registrar produto</button>           
    </li>

    <li style="left:10px; bottom: 2px">
        <form class="form-horizontal form-row-seperated" action="#" method="post">
            <button class="btn default grey" type="submit">Registros</button>
        </form>
    </li>
</ul>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preco Unitario</th>
            <th>Quantidade</th>
            <th>Complemento</th>
            <th>Familia</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var produto in ViewBag.Produtos)
        {
            <tr id="@produto.Id">
                <th>@produto.Id</th>
                <th>@produto.Nome</th>
                <th>R$ @produto.PrecoPorUnidade</th>
                <th>@produto.Quantidade</th>
                <th>@produto.Complemento</th>
                <th>@produto.FamiliaProdutoId</th>
                <th>
                    <button class="btn default red-flamingo" onclick="Deletar(@produto.Id, 'Produto')" type="submit">Deletar</button>
                </th>
                <th>
                    <form action="@Url.Action("Editar", "Produto", new { produto.Id })">
                        <button class="btn default green-jungle" type="submit">Editar</button>
                    </form>
                </th>
            </tr>
        }

    </tbody>
</table>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">URL EXTERNA</h3>
    </div>
    <div class="modal-body">
    </div>
</div>

<script>
    function RegistrarProduto(){        
        var url = @Url.Action("Form","Produto")
        $(".modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="yes" allowtransparency="true" src="' + url + '"></iframe>');
    }
    
</script>