
<h3 class="page-title">
    Acompanhamento <small>dos pedidos</small>
</h3>
<ul class="nav nav-tabs">
    
</ul>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fornecedor</th>
            <th>Data de emissao</th>
            <th>Data de entrega</th>
            <th>Pedido ID</th>
            <th>Valor total</th>
            <th>Estado</th>

        </tr>
    </thead>
    <tbody id="produtosLinhas">
        @foreach (var acompanhamento in ViewBag.Acompanhamentos)
        {
        <tr>
            <th class="acompanhamento-id">@acompanhamento.Id</th>
            @foreach (var forn in ViewBag.Fornecedores)
            {
                if (forn.Id == acompanhamento.FornecedorId)
                {
                    <th>@forn.DenominacaoSocial</th>
                }
            }
            <th class="data">@acompanhamento.DataEmissao</th>
            <th class="data">@acompanhamento.DataEntrega</th>
            <th>@acompanhamento.PedidoId</th>
            <th>R$ <span class="dinheiro">@acompanhamento.ValorTotal</span></th>
            @if (acompanhamento.Entregue == false)
            {
                <th id="estado-pedido">Em espera</th>
                <th>
                    <button id="@acompanhamento.Id" class="btn default red-flamingo" onclick="ConfirmarEntregaFornecedores(@acompanhamento.Id)" type="submit">Confirmar entrega</button>
                </th>
            }
            else
            {
                <th>Entregue</th>
                <th>
                    <button class="btn default red-flamingo" disabled type="submit">Confirmar entrega</button>
                </th>
            }
                <th>
                    <button id="info-pedido-acompanhamento" class="btn btn-info info-pedido-acompanhamento" name="@acompanhamento.Id" >Visualizar</button>
                </th>
        </tr>
        }
    </tbody>
</table>


<div class="modal" tabindex="-1" role="dialog" id="modal-informacoes-acompanhamento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Informações do pedido</h5>
            </div>
            <div class="modal-body" style="width:800px; height:700px">
                <h3 class="page-title">
                    Pedido:  <small id="id-pedido-informacao"></small>
                </h3>
                <ul class="nav nav-tabs"></ul>
                <br />
                <div class="col-sm-8">
                    <div style="border:1px solid;">
                        <label class="form-control" style="border:0;">Fornecedor: </label>
                        <input disabled class="form-control" id="nome-fornecedor-informacoes">
                    </div>
                    <br />
                    <br />
                    <div style="border:1px solid;">
                        <label class="form-control" style="border:0;">Status: </label>
                        <input disabled class="form-control" id="status-pedido-informacoes">
                    </div>
                    <br />
                    <br />
                    <div style="border:1px solid;">
                        <label class="form-control" style="border:0;">Produtos: </label>
                        <br />
                        <div class="scrolling-table-info">
                            <table id="tabela-produtos-info" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Quantidade
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="body-tabela-produtos-pedidos">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div style="border:1px solid;">
                        <label class="form-control" style="border:0;">Valor Total: </label>
                        <input disabled class="form-control dinheiro" id="valor-Total-informacoes">
                    </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" id="fechar-modal-info-pedidos" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>