<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Funcionarios <small>registrar e editar funcionario.</small>
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal form-row-seperated" action="@Url.Action("Adiciona","Funcionario")" method="post">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-shopping-cart"></i>Funcionario
                    </div>
                    <div class="actions btn-set">
                        <button class="btn default"><i class="fa fa-reply"></i> Resetar</button>
                        <button class="btn green"><i class="fa fa-check"></i> Salvar</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs"></ul>
                        <div class="tab-content no-space">
                            <div class="tab-pane active" id="tab_general">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Nome: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="funcionario.Nome" placeholder="">
                                            @Html.ValidationMessage("funcionario.Nome")
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            CPF: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="cpf" onblur="validaCPF()" maxlength="11" name="funcionario.Cpf" placeholder="Apenas numeros">
                                            @Html.ValidationMessage("funcionario.Cpf")
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label style="right:15px" class="col-md-2 control-label">
                                            Data de nascimento: <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div class="col-md-10">
                                            <input type="date" class="form-control" max="2050-12-31" min="1900-12-31" name="funcionario.DataDeNascimento">
                                            @Html.ValidationMessage("funcionario.DataDeNascimento")
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Email:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" name="funcionario.Email" >
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Telefone:
                                        </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="telefone" onblur="MaskTelefone()" name="funcionario.Telefone">
                                        </div>
                                    </div><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">
                                            Tipo de Pessoa:

                                            <span class="required"> * </span>

                                        </label>
                                        <div class="col-md-10">
                                            <div class="form-control height-auto">

                                                <select class="form-control" name="funcionario.TipoPessoaId">
                                                    @foreach (var tipo in ViewBag.TipoPessoas)
                                                    {

                                                        <option value="@tipo.Id">
                                                            @tipo.Nome
                                                        </option>

                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

