@{ var user = (ProjetoFinal.Models.Pessoa)Session["UsuarioLogado"];
    ProjetoFinal.DAO.UsuariosDAO dao = new ProjetoFinal.DAO.UsuariosDAO();
    ProjetoFinal.Models.Usuario usuario = dao.BuscaPorId(user.Id);
    
    }


<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Projeto Final</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-datepicker/css/datepicker.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/css/estilos-gerais.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/FecharIframe.js"></script>

    <!-- END THEME STYLES -->
    <link rel="icon" href="~/Content/favicon.png" />
    <style>
        .valido {
            border-color: #28a745;
        }

        .invalido {
            border-color: #dc3545;
        }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

<body class="page-header-fixed page-quick-sidebar-over-content">
    <!-- BEGIN HEADER -->
    <div class="page-header -i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html">
                    <img src="~/Content/Logo.svg" alt="logo" class="logo-default" width="150" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- END TODO DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            @if (user.TipoPessoaId == 2)
                            {
                                <img alt="" class="img-circle" src="~/Content/icons8-f-52.png" />
                            }
                            else if (user.TipoPessoaId == 3)
                            {
                                <img alt="" class="img-circle" src="~/Content/icons8-g-52.png" />
                            }
                            else if (user.TipoPessoaId == 4)
                            {
                                <img alt="" class="img-circle" src="~/Content/icons8-d-52.png" />
                            }
                            <span class="username username-hide-on-mobile">
                                @user.Nome
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="#" id="mudarUsuario" data-toggle="modal" data-target="#modalConfigUsuario">
                                    <i class="icon-settings"></i> Mudar usuario
                                </a>
                            </li>
                            
                            <li>
                                <a href="@Url.Action("Sair","Login")">
                                    <i class="icon-key"></i> Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler"></div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>

                    <li>
                        <a href="@Url.Action("Index","Home")"><i class="icon-home"></i><span class="title">Inicio</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Produto")"><i class="icon-book-open"></i><span class="title">Produtos</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Categoria")"><i class="icon-layers"></i><span class="title">Categorias</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Funcionario")"><i class="icon-users"></i><span class="title">Funcionarios</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Cliente")"><i class="icon-star"></i><span class="title">Clientes</span></a>
                    </li>
                    <!-- END ANGULARJS LINK -->
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">


                @RenderBody()


            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer rodape-pagina">
                <div class="page-footer-inner">
                    2018 Estagio Benner - Projeto final.
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>

            <!-- Modal -->
            <div id="modalConfigUsuario" class="modal fade" role="dialog">
                <div class="modal-dialog" style="width:800px">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Mudar informações de usuario</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    Usuario: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input type="text" id="newUsuario" class="form-control" placeholder="">
                                </div>
                            </div><br />
                            <br />
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    Senha: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input type="password" id="newSenha" class="form-control" placeholder="">
                                </div>
                            </div>
                            <br />
                            <br />
                            <button id="confirmarMudanca" onclick="configurarUsuario(@user.Id)" class="form-control btn blue-steel">Confirmar</button>
                        </div>
                        <div class="modal-footer">
                            <h1 class="operacao-concluida">Operação realizada com sucesso!!</h1>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END FOOTER -->
            <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
            <!-- BEGIN CORE PLUGINS -->
            <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->

            <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
            <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
            <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script type="text/javascript" src="~/Content/assets/global/plugins/select2/select2.min.js"></script>
            <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
            <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="~/Content/assets/global/scripts/metronic.js" type="text/javascript"></script>
            <script src="~/Content/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
            <script src="~/Content/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
            <script src="~/Content/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
            <script src="~/Content/assets/global/scripts/datatable.js"></script>
            <script src="~/Content/assets/admin/pages/scripts/ecommerce-products.js"></script>
            <script src="~/Scripts/jquery.mask.js"></script>
            <script src="~/Scripts/Mascaras.js"></script>
            <script src="~/Scripts/ValidaCPF.js"></script>
            <script src="~/Scripts/Deletar.js"></script>
            <script src="~/Scripts/pedidosProdutos.js"></script>
            <script src="~/Scripts/FecharIframe.js"></script>
            <script src="~/Scripts/mudarUsuario.js"></script>

            <!-- END PAGE LEVEL SCRIPTS -->
            <script>
                jQuery(document).ready(function () {
                    Metronic.init(); // init metronic core components
                    Layout.init(); // init current layout
                    QuickSidebar.init(); // init quick sidebar
                    Demo.init(); // init demo features
                    EcommerceProducts.init();
                });

            </script>
            <!-- END JAVASCRIPTS -->
        </div>
    </div>
    
</body>
<!-- END BODY -->
</html>