<h3 class="page-title">
    Registros gerais <small>Logs</small>
</h3>
<ul class="nav nav-tabs">
    <li style="bottom: 2px">
        <select id="filtro-logs-gerais" class="form-control">
            <option selected>Geral</option>
            <option>Pessoas</option>
            <option>Familias</option>
            <option>Produtos</option>
            <option>Fornecedores</option>
            <option>Vendas</option>
            <option>Compras</option>
        </select>
    </li>
</ul>

<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Data de modificação</th>
            <th>ID de quem modificou</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var familia in ViewBag.LogFamilias)
        {
            <tr class="filtro-ativo logs-familias">
                <th>Familia</th>
                <th>@familia.Descricao</th>
                <th>@familia.DataModificacao</th>
                <th>@familia.PessoaId</th>
            </tr>
        }

        @foreach (var fornecedor in ViewBag.LogFornecedores)
        {

            <tr class="filtro-ativo logs-fornecedores">
                <th>Fornecedores</th>
                <th>@fornecedor.Descricao</th>
                <th>@fornecedor.DataModificacao</th>
                <th>@fornecedor.PessoaId</th>
            </tr>
        }

        @foreach (var pessoa in ViewBag.LogPessoas)
        {
            <tr class="filtro-ativo logs-pessoas">
                <th>Pessoas</th>
                <th>@pessoa.Descricao</th>
                <th>@pessoa.DataModificacao</th>
                <th>@pessoa.PessoaId</th>
            </tr>
        }

        @foreach (var produto in ViewBag.LogProdutos)
        {
            <tr class="filtro-ativo logs-produtos">
                <th>Produtos</th>
                <th>@produto.Descricao</th>
                <th>@produto.DataModificacao</th>
                <th>@produto.PessoaId</th>
            </tr>
        }
        @foreach (var vendas in ViewBag.LogVendas)
        {
            <tr class="filtro-ativo logs-vendas">
                <th>Vendas</th>
                <th>@vendas.Descricao R$ <span class="dinheiro">@vendas.ValorVenda</span></th>
                <th>@vendas.DataDaVenda</th>
                <th>@vendas.PessoaId</th>
            </tr>
        }
        @foreach (var compras in ViewBag.LogCompras)
        {
            <tr class="filtro-ativo logs-compras">
                <th>Compras</th>
                <th>@compras.Descricao R$ <span class="dinheiro">@compras.ValorCompra</span></th>
                <th>@compras.DataDaCompra</th>
                <th>@compras.PessoaId</th>
            </tr>
        }
    </tbody>
</table>